.container {
  padding: 30px 70px;
}

.content {
  margin-top: 10px;
  position: fixed;
  overflow: auto;
  width: 100%;
  transition: all 0.3s;
  height: calc(100% - 70px);
}

.btn-toggle {
  position: absolute;
  top: 10px;
  left: 10px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
  position: absolute;
  width: 250px;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: white;
  transition: all 0.3s;
  box-shadow: 6px 0 6px #0000001a;
  overflow: auto;
}

#sidebar.active {
  margin-left: -250px;
  box-shadow: none;
}

/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  .container {
      padding: 70px 10px 30px 10px;
  }
}