<div *ngIf="appReady">
    <div class="wrapper mat-app-background" [ngClass]="{'dark-theme': modoOscuro}">
        <!-- Sidebar  -->
        <nav id="sidebar" [ngClass]="{'active': toggle}">
            <app-side-bar [menus]="menus"></app-side-bar>
        </nav>
      
        <!-- Page Content  -->
        <div id="content" style="height: 100vh;overflow: auto;" [ngClass]="{'active': toggle}">
      
            <app-nav-bar></app-nav-bar>
      
            <div class="content p-4" id="contenido" [ngClass]="{'full-width': toggle}">
                <router-outlet></router-outlet>
            </div>
        </div>
      </div>
</div>