<div *ngIf="appReady">
    <div class="wrapper mat-app-background" [ngClass]="{'dark-theme': modoOscuro}">
        <nav id="sidebar" [ngClass]="{'active': !toggle}">
            <app-side-bar [menus]="menus" (aplicarCambios)="toggle = true"></app-side-bar>
        </nav>
      
        <!-- Page Content  -->
        <div class="content mat-app-background" [ngClass]="{'active': toggle}">
            <label class="label" for="check">
                <input type="checkbox" id="check" [(ngModel)]="toggle" /> 
                <span></span>
                <span></span>
                <span></span>
              </label>
      
            <div class="container" (click)="toggle ? toggle = false:null">
                <router-outlet></router-outlet>
            </div>
        </div>
      </div>
</div>