.btn-close {
  background: #fff;
  color: #000;
  position: absolute;
  top: 10px;
  right: 10px;
}

.perfil-foto{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin: auto;
}
.perfil-nombre{
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
.perfil-detalle{
  font-size: 14px;
  font-weight: 200;
  text-align: center;
}

.section-botton {
  position: absolute;
  bottom: 10px;
  width: 250px;
}

.btn-logout {
  width: 80%;
  margin: auto;
  display: block;
}
  
  a,
  a:hover,
  a:focus {
      color: #000000de;
      text-decoration: none;
      transition: all 0.3s;
  }
  
    
  /* ---------------------------------------------------
      SIDEBAR STYLE
  ----------------------------------------------------- */

  #sidebar {
    width: 250px;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: white;
    // color: #000000de;
    transition: all 0.3s;
    box-shadow: 6px 0 6px #0000001a;
    overflow: auto;
  }
  
  #sidebar.active {
    margin-left: -250px;
  }
  
  #sidebar .sidebar-header {
    padding: 20px;
  }
  
  #sidebar ul.components {
    padding: 20px 0;
    margin-bottom: 80px;
    // border-bottom: 1px solid #47748b;
  }
  
  #sidebar ul p {
    padding: 10px;
  }
  
  #sidebar ul li a {
    padding: 20px;
    font-size: 0.9em;
    display: block;
  }
  
  #sidebar ul li a:hover {
    background: rgba(0,0,0,.04);
  }
  
  #sidebar ul li.active>a,
  a[aria-expanded="true"] {
    background: rgba(0,0,0,.08);
  }
  
  a[data-toggle="collapse"] {
    position: relative;
  }
  
  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }