<div id="sidebar">
    <button mat-mini-fab class="btn-close" (click)="toggleOff()">
        <mat-icon>close</mat-icon>
    </button>

    <div class="mt-4">
        <div class="perfil-foto" style="background-image: url('https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0=');" alt="Foto"></div>
        <p class="perfil-nombre mt-2">Joaquin Gonzalez Villaescusa</p>
        <p class="perfil-detalle">joaquin.gonzalez@upds.edu.bo</p>
        <p class="text-center"><span class="perfil-detalle">Desarrollador</span></p>
    </div>
    
    <ul class="list-unstyled components">
        <li routerLinkActive="active">
            <a href="#" routerLink="/home">
                <i class="fa-solid fa-table-columns"></i>
                Dashboard
            </a>
        </li>
        <li routerLinkActive="active">
            <a href="#" routerLink="/contact">
                <i class="fa-solid fa-table-columns"></i>
                Contact
            </a>
        </li>
        
        <li routerLinkActive="active" *ngFor="let menu of menus">
            <a href="#" [routerLink]="menu.ubicacion">
                <i class="fa-regular {{menu.icono}}"></i>
                {{menu.titulo}}
            </a>
        </li>
    </ul>

    <section class="section-botton text-center">
        <mat-button-toggle-group [(ngModel)]="tema" (ngModelChange)="cambiarModo()" class="my-2">
            <mat-button-toggle value="light"><i class="fa-solid fa-lightbulb"></i></mat-button-toggle>
            <mat-button-toggle value="dark"><i class="fa-solid fa-moon"></i></mat-button-toggle>
          </mat-button-toggle-group>
        <button mat-flat-button color="warn" class="btn-logout">
            Cerrar sesion
            <mat-icon>logout</mat-icon>
        </button>
    </section>
</div>