.body-login {
    background-image: url('https://saads.blob.core.windows.net/resource/imagenes/backgraundLogin.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    position: fixed;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.box {
    width: 460px;
    padding: 50px;
}

.title {
    width: 100%;
    float: left;
    line-height: 46px;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #d83b01;
    margin-left: 45px;
    position: relative;
}

.title:before{
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -95px;
    background: #d83b01;
}