<div class="body-login">
    <div class="contenedor">
        <mat-card class="box" style="width: 500px;">
            <div class="title">Inicio de Sesión</div>
            <div>
                <img src="https://saads.blob.core.windows.net/resource/imagenes/office-365.png" alt="Office 365" width="200px" style="display: block; margin: auto;">
            </div>
            <div>
                <a style="width: 100%;" mat-raised-button color="warn" [href]="urlLogin">Continuar con Office 365</a>
            </div>
        </mat-card>

    </div>
</div>