<button mat-button [matMenuTriggerFor]="userMenu" style="color: rgba(255,255,255,.55);;">
    <mat-icon>person</mat-icon>
    <span fxShow fxHide.xs>
      {{funcionario.nombre | titlecase}} {{funcionario?.primerApellido | titlecase}}
    </span>
  </button>
  <mat-menu class="p-4" #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">
      <div class="perfil-foto" style="background-image: url('{{funcionario?.foto}}');" alt="Foto"></div>
      <p class="perfil-nombre mt-2">{{funcionario?.nombre | titlecase}} {{funcionario?.primerApellido | titlecase}} {{funcionario?.segundoApellido | titlecase}}</p>
      <p class="perfil-detalle">{{funcionario?.correo}}</p>
      <p class="text-center">Cargo: <span class="perfil-detalle">{{funcionario?.cargoNombre}}</span></p>
      <p class="text-center">Sede: <span class="perfil-detalle">{{funcionario?.sedeNombre}}</span></p>
      <button (click)="logOut()" mat-flat-button color="warn" class="full-width"><mat-icon>exit_to_app</mat-icon> Cerrar Sesion</button>
  </mat-menu>