<button mat-button [matMenuTriggerFor]="userMenu" style="color: rgba(255,255,255,.55);;">
    <mat-icon>person</mat-icon>
    <span fxShow fxHide.xs>
      {{userName}}
      <!-- {{funcionario.nombre | titlecase}} {{funcionario?.apellido?.split(' ')[0] | titlecase}} {{funcionario?.apellido?.split(' ')[1][0]}} -->
    </span>
  </button>
  <mat-menu class="p-4" #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">
      <!-- <div class="perfil-foto" style="background-image: url('{{funcionario?.foto}}');" alt="Foto"></div>
      <p class="perfil-nombre mt-2">{{funcionario?.nombre | titlecase}} {{funcionario?.apellido | titlecase}}</p>
      <p class="perfil-detalle">{{funcionario?.correo}}</p>
      <p class="text-center">Cargo: <span class="perfil-detalle">{{funcionario?.cargo}}</span></p>
      <p class="text-center">Sede: <span class="perfil-detalle">{{funcionario?.sede}}</span></p>
      <button (click)="logOut()" mat-flat-button color="warn" class="full-width"><mat-icon>exit_to_app</mat-icon> Cerrar Sesion</button> -->
      <div class="perfil-foto" style="background-image: url('https://upds.blob.core.windows.net/fotoperfil/80384.png');" alt="Foto"></div>
      <p class="perfil-nombre mt-2">Joaquin Gonzalez Villaescusa</p>
      <p class="perfil-detalle">joaquin.gonzalez@upds.edu.bo</p>
      <p class="text-center">Cargo: <span class="perfil-detalle">Desarrollador</span></p>
      <p class="text-center">Sede: <span class="perfil-detalle">Rectorado Nacional</span></p>
      <button (click)="logOut()" mat-flat-button color="warn" class="full-width"><mat-icon>exit_to_app</mat-icon> Cerrar Sesion</button>
  </mat-menu>