
.perfil-foto{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: auto;
  }
  .perfil-nombre{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
  .perfil-detalle{
    font-size: 14px;
    font-weight: 200;
    text-align: center;
  }