@use '@angular/material' as mat;
@use 'assets/styles/my-theme.scss' as theme;

@include mat.core();

// Define a light theme
$light-primary: mat.define-palette(theme.$primary-palette);
$light-accent: mat.define-palette(theme.$accent-palette);
$light-warn: mat.define-palette(theme.$warn-palette);
$light-theme: mat.define-light-theme((
 color: (
   primary: $light-primary,
   accent: $light-accent,
   warn: $light-warn
 )
));

@include mat.all-component-themes($light-theme);

// Define a dark theme
$dark-primary: mat.define-palette(theme.$dark-primary-palette);
$dark-accent: mat.define-palette(mat.$blue-gray-palette);
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
  )
));
.dark-theme {
  @include mat.all-component-colors($dark-theme);
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
}

.dark-theme {

  p, h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
  
  label span{
    background: #fff !important;
  }

  a,
  a:hover,
  a:focus {
      color: #fff !important;
  }

  #sidebar, .section-botton {
    background: #1e1e1e !important;
    color: #fff !important;
  }

  .isologo {
    filter: invert(1);
  }
  
  #sidebar ul li.active>a,
  a[aria-expanded="true"] {
    background: #6286b9 !important;
  }
  #sidebar ul li a:hover {
    background: rgb(96 125 139 / 35%) !important;
  }

  .form-control {
    background: #303030;
    color: #f4f4f4;
  }
  
}

.full-width {
    width: 100% !important;
}

.ml-auto {
    margin-left: auto !important;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.edit_button,.delete_button{
  cursor: pointer;
}
.h-100{
  height: 100%;
}
.w-80{
  width: 80%;
}
.btnCloseModal{
  float: right;
  cursor: pointer;
  transition: .3s;
  font-size: 40px;
  height: auto !important;
  width: auto !important;
}
.spinner{
  margin: 0 auto;
  margin-top: 120px;
}



*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0px 0px 2px #c6c6c6;
  background: #e1e1e1;
  border-radius: 4px;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
*::-webkit-scrollbar-thumb:hover  {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
*::-webkit-scrollbar-thumb:active  {
  background-color: #999999;
}

* {
  outline: none !important;
  scrollbar-width: thin;
}




.fade-in {
  animation: alternate-fade-in 0.5s ease-in-out;
	animation: fadeIn 2s;
  opacity: 1;
}

@keyframes fadeIn {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}