@use '@angular/material' as mat;
@use 'assets/styles/my-theme.scss' as theme;

@include mat.core();

// Define a light theme
$light-primary: mat.define-palette(theme.$primary-palette);
$light-accent: mat.define-palette(theme.$accent-palette);
$light-warn: mat.define-palette(theme.$warn-palette);
$light-theme: mat.define-light-theme((
 color: (
   primary: $light-primary,
   accent: $light-accent,
   warn: $light-warn
 )
));

@include mat.all-component-themes($light-theme);

// Define a dark theme
$dark-primary: mat.define-palette(theme.$dark-primary-palette);
$dark-accent: mat.define-palette(mat.$blue-gray-palette);
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
  )
));
.dark-theme {
  @include mat.all-component-colors($dark-theme);
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
}

.dark-theme {

  p, h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
  
  .navbar {
    background: #6286b9 !important;
  }

  a,
  a:hover,
  a:focus {
      color: #fff !important;
  }

  #sidebar {
    background: #333 !important;
    color: #fff !important;
  }
  
  #sidebar ul li.active>a,
  a[aria-expanded="true"] {
    background: #6286b9 !important;
  }
  #sidebar ul li a:hover {
    background: rgb(96 125 139 / 35%) !important;
  }

  .form-control {
    background: #303030;
    color: #f4f4f4;
  }
  
  *::-webkit-scrollbar-thumb {
    background: #9ab5db !important;
  }
  *::-webkit-scrollbar-thumb:hover  {
    background: #7699c9 !important;
  }
  *::-webkit-scrollbar-thumb:active  {
    background-color: #6286b9 !important;
  }
  
}

.full-width {
    width: 100% !important;
}

.ml-auto {
    margin-left: auto !important;
}





*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0px 0px 2px #c6c6c6;
  background: #e1e1e1;
  border-radius: 4px;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
*::-webkit-scrollbar-thumb:hover  {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
*::-webkit-scrollbar-thumb:active  {
  background-color: #999999;
}