$primary-palette: (
 50: rgb(0, 70, 134),
 100: rgb(0, 70, 134),
 200: rgb(0, 70, 134),
 300: rgb(0, 70, 134),
 400: rgb(0, 70, 134),
 500: rgb(0, 70, 134),
 600: rgb(0, 70, 134),
 700: rgb(0, 70, 134),
 800: rgb(0, 70, 134),
 900: rgb(0, 70, 134),
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: rgba(black, 0.87),
   400: rgba(black, 0.87),
   500: #f5f5f5,
   600: rgba(black, 0.87),
   700: rgba(black, 0.87),
   800: rgba(black, 0.87),
   900: rgba(black, 0.87),
 )
);

$accent-palette: (
 50: #009bdb,
 100: #009bdb,
 200: #009bdb,
 300: #009bdb,
 400: #009bdb,
 500: #009bdb,
 600: #009bdb,
 700: #009bdb,
 800: #009bdb,
 900: #009bdb,
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: rgba(black, 0.87),
   400: rgba(black, 0.87),
   500: #f5f5f5,
   600: rgba(black, 0.87),
   700: rgba(black, 0.87),
   800: rgba(black, 0.87),
   900: rgba(black, 0.87),
 )
);

$warn-palette: (
 50: #f33b00,
 100: #f33b00,
 200: #f33b00,
 300: #f33b00,
 400: #f33b00,
 500: #f33b00,
 600: #f33b00,
 700: #f33b00,
 800: #f33b00,
 900: #f33b00,
 contrast: (
   50: rgba(#f5f5f5, 0.87),
   100: rgba(#f5f5f5, 0.87),
   200: rgba(#f5f5f5, 0.87),
   300: rgba(#f5f5f5, 0.87),
   400: rgba(#f5f5f5, 0.87),
   500: #f5f5f5,
   600: rgba(#f5f5f5, 0.87),
   700: rgba(#f5f5f5, 0.87),
   800: rgba(#f5f5f5, 0.87),
   900: rgba(#f5f5f5, 0.87),
 )
);

$dark-primary-palette: (
 50: rgb(0, 70, 134),
 100: rgb(0, 70, 134),
 200: rgb(0, 70, 134),
 300: rgb(0, 70, 134),
 400: rgb(0, 70, 134),
 500: #6286b9,
//  37536c
 600: rgb(0, 70, 134),
 700: rgb(0, 70, 134),
 800: rgb(0, 70, 134),
 900: rgb(0, 70, 134),
 contrast: (
   50: rgba(white, 0.87),
   100: rgba(white, 0.87),
   200: rgba(white, 0.87),
   300: rgba(white, 0.87),
   400: rgba(white, 0.87),
   500: white,
   600: rgba(white, 0.87),
   700: rgba(white, 0.87),
   800: rgba(white, 0.87),
   900: rgba(white, 0.87),
 )
);


// Fonts
@import 'https://fonts.googleapis.com/icon?family=Material+Icons+Round';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

// $fontConfig: (
//   display-4: mat.define-typography-level(60px, 60px, 400, 'Roboto', -0.0221em),
//   display-3: mat.define-typography-level(50px, 50px, 400, 'Roboto', -0.0089em),
//   display-2: mat.define-typography-level(40px, 40px, 400, 'Roboto', 0.0000em),
//   display-1: mat.define-typography-level(30px, 36px, 400, 'Roboto', 0.0074em),
//   headline: mat.define-typography-level(16px, 24px, 400, 'Roboto', 0.0000em),
//   title: mat.define-typography-level(20px, 28px, 500, 'Roboto', 0.0075em),
//   subheading-2: mat.define-typography-level(14px, 20px, 400, 'Roboto', 0.0094em),
//   subheading-1: mat.define-typography-level(14px, 20px, 500, 'Roboto', 0.0067em),
//   body-2: mat.define-typography-level(12px, 16px, 500, 'Roboto', 0.0179em),
//   body-1: mat.define-typography-level(12px, 16px, 400, 'Roboto', 0.0179em),
//   button: mat.define-typography-level(12px, 16px, 500, 'Roboto', 0.0893em),
//   caption: mat.define-typography-level(12px, 16px, 400, 'Roboto', 0.0333em),
//   input: mat.define-typography-level(inherit, 1.125, 400, 'Roboto', 1.5px)
// );